<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div class="jumbotron">
	<h1>Welcome to Codeslam</h1>
	<h4>Get ready for a fight!</h4>
	<div class="jumbo-bottom col-md-12 col-sm-12 row">
		<div class="col-md-4 col-sm-4">
			<label class="label label-info"><i class="fa fa-bug fa-2x"></i>Awesome Fights</span>
		</div>
	</div>
</div>
<div class="col-md-12 col-sm-12 row">
	<div class="col-md-6 signup">
		<h3>Don't have an account? Signup here!</h3><br />
		<button class="btn btn-info">Sign Up</button>
	</div>
	<div class="col-md-6 login">
		<h3>Login to start now.</h3><br />
		<button class="btn btn-success">Login</button>
	</div>
</div>