<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="jumbotron">
	<h1><span style="color:green;">Welcome</span><span style="color: yellow;"> to </span><span style="color: red;">Codeslam</span></h1>
	<h4>Get ready for a fight!</h4>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<span class="col-md-4 col-sm-4 col-xs-4 label-usp">
			<label class="label label-danger"><i class="fa fa-bug fa-2x"></i>Awesome Fights</span>
		</span>
		<span class="col-md-4 col-sm-4 col-xs-4 label-usp">
			<label class="label label-warning"><i class="fa fa-check"></i>Get ranked</label>
		</span>
		<span class="col-md-4 col-sm-4 col-xs-4 label-usp">
			<label class="label label-success"><i class="fa fa-check"></i>Exciting prizes</label>
		</span>
	</div>
</div>
<hr id="after-jumbo">
<div class="col-md-12 col-sm-12">
	<div class="col-md-6 signup">
		<h3>Don't have an account? Signup here!</h3><br />
		<button class="btn btn-info">Sign Up</button>
	</div>
	<div class="col-md-6 login">
		<h3>Login to start now.</h3><br />
		<button class="btn btn-success">Login</button>
	</div>
</div>
<hr id="after-auth">
<!--Some popular news section-->
<div class="news col-md-12 col-sm-12">
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>