<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<style type="text/css">
	label{
		display: block;
		z-index: 0;
	}
</style>
<div class="jumbotron">
	<h1><span style="color:green;">Welcome</span><span style="color: yellow;"> to </span><span style="color: red;">Codeslam</span><span style="font-size:0.2em;">beta</span></h1>
	<h4>Get ready for a fight!</h4>
	<div class="col-md-4 col-sm-12 col-xs-12 label-usp">
		<label class="label label-danger"><i class="fa fa-check"></i>Awesome Fights</label>
	</div>
		<div class="col-md-4 col-sm-12 col-xs-12 label-usp">
			<label class="label label-warning"><i class="fa fa-check"></i>Get ranked</label>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 label-usp">
			<label class="label label-primary"><i class="fa fa-check"></i>Exciting prizes</label>
		</div>
	</div>
	<hr id="after-jumbo">
	<div class="col-md-12 col-sm-12">
		<div class="col-md-6 signup">
			<h3>Don't have an account? Signup here!</h3><br />
			<span class="btn btn-info" id="btn_signup">Sign Up</span>
		</div>
		<div class="col-md-6 login">
			<h3>Login to start a slam now.</h3><br />
			<span class="btn btn-success" id="btn_login">Log In</span>
		</div>
	</div>
	<div align="center">
		{{#if error}}
		<h3 id="err_msg">{{message}}</h3>
		{{/if}}
		{{#if authSuccess}}
		<span class="alert alert-success">{{message}}</span>
		{{/if}}
		<i class="fa fa-close fa-2x" style="display:none;" id="closeForm"></i>
		<form action="/auth/signup" method="POST" id="signup-form">
			<div class="form-group">
				<label class="control-label" for="Name" >Name</label><br />
				<span class="fa fa-user input-span"></span><input class="form-input" value= "{{name}}" required type="text" name="signup_name" />
			</div>
			<div class="form-group">
				<label class="control-label" for="email" >E-mail</label><br />
				<span class="fa fa-envelope input-span"></span><input class="form-input" value= "{{username}}" required type="email" name="signup_email" placeholder="This will be your username" />
			</div>
			<div class="form-group">
				<label class="control-label" for="password" >Password</label><br />
				<span class="fa fa-key input-span"></span><input class="form-input" required type="password" name="signup_pwd" />
			</div>
			<div class="form-group">
				<label class="control-label" for="Confirm password" >Confirm Password</label><br />
				<span class="fa fa-key input-span"></span><input class="form-input" required type="password" name="c_pwd" />
			</div>
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
		<form action="/auth/login" method="POST" id="login-form">
			<div class="form-group">
				<label class="control-label" for="email" >E-mail</label><br />
				<span class="fa fa-envelope input-span"></span><input class="form-input" required type="email" name="login_email" placeholder="someone@example.com" />
			</div>
			<div class="form-group">
				<label class="control-label" for="password" >Password</label><br />
				<span class="fa fa-key input-span"></span><input class="form-input" required type="password" name="login_pwd" />
			</div>
			<button type="submit" class="btn btn-warning">Log In</button>
		</form>
	</div>
</div>
<hr id="after-auth">
<div class="intro col-md-12 col-sm-12">
	<h1>
		<span
		class="txt-rotate"
		data-period="2000"
		data-rotate='[ "Ready To show your skills?", "Array or Tree?", "Greedy or Recursive?","You decide!"]'></span>
	</h1>
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript">
	
</script>