 <!DOCTYPE html>
 <html>
 <head>
 	<!--Import Google Icon Font-->
 	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<!--Import materialize.css-->
 	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"  media="screen,projection"/>

 	<!--Let browser know website is optimized for mobile-->
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 </head>

 <body>
 	<nav>
 		<div class="nav-wrapper">
 			<a href="#" class="brand-logo">Logo</a>
 			<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
 			<ul id="nav-mobile" class="right hide-on-med-and-down">
 				<li><a href="sass.html">Sass</a></li>
 				<li><a href="badges.html">Components</a></li>
 				<li><a href="collapsible.html">JavaScript</a></li>
 			</ul>
 		</div>
 	</nav>

 	
 	<div class="container">
 	<!-- Main content of website goes here -->
 	</div>


 	<ul id="slide-out" class="side-nav">
 		<li>
 			<div class="userView">
 				<img class="background" src="../public/images/test.jpg">
 				<a href="#"><img class="circle" src="../public/images/test.jpg"></a>
 				<a href="#"><span class="white-text name">Hargur Bedi</span></a>
 				<a href="#"><span class="white-text email">hargurbedi97@gmail.com</span></a>
 			</div>
 		</li>
 		<li><a href="#" class="waves-effect"><i class="material-icons">lock</i>Log Out</a></li>
 		<li><a class="subheader">Subheader</a></li>
 	</ul>
 
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
 <script type="text/javascript">
 	(function($){
 		$(function(){

 			$('.button-collapse').sideNav();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
<!-- Import jQuery before materialize.js -->
</body>
</html>