<nav class="brand-nav">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Codeslam</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#">Login</a></li>
			<li><a href="#">Signup</a></li>
			<li><a href="#">About us</a></li>
		</ul>
	</div>
</nav>
<div class="promo-bg">
	<div class="card hoverable promo-card" style="text-align: center;">
		<div class="row promo">
			<div class="col m4 s12">
				<i class="material-icons">play_arrow</i>
				<p class="promo-caption">Coding anytime</p>
			</div>
			<div class="col m4 s12">
				<i class="material-icons">thumbs_up_down</i>
				<p class="promo-caption">Compete with other players</p>
			</div>
			<div class="col m4 s12">
				<i class="material-icons">grade</i>
				<p class="promo-caption">Show skills and win</p>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="row after-promo">
		<div class="col s12 m6" style="text-align: center;">
			<h2>Start all the fun!</h2>
			<div align="center">
				<a class="waves-effect waves-light btn">Login</a>
			</div>
		</div>
		<div class="col s12 m6" style="text-align: center;">
			<h2>Signup now to join!</h2>
			<div align="center">
				<a class="waves-effect waves-light btn">Signup</a>
			</div>
		</div>
	</div>
</div>
<br/>
<hr />
<div class="about-section ">
	<h1>Who we are?</h1>
	<div class="row">
		<div class="col s12 m6">
			<h2 class="header">Kumar Shubham</h2>
			<div class="card hoverable horizontal">
				<div class="card-image">
					<img src="/images/test.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris
						</p>
					</div>
					<div class="card-action">
						<a href="https://github.com/krshubham"><i class="fa fa-github fa-3x"></i></a>
						<a href="https://linkedin.com/in/krshubham1708"><i class="fa fa-linkedin fa-3x"></i></a>
						<a href="www.krshubham.github.io"><i class="fa fa-user fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<h2 class="header">Aman Saha</h2>
			<div class="card hoverable horizontal">
				<div class="card-image">
					<img src="/images/test.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris
						</p>
					</div>
					<div class="card-action">
						<a href="https://github.com/krshubham"><i class="fa fa-github fa-3x"></i></a>
						<a href="https://linkedin.com/in/krshubham1708"><i class="fa fa-linkedin fa-3x"></i></a>
						<a href="www.krshubham.github.io"><i class="fa fa-user fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Codeslam</h5>
					<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; 2016 Codeslam
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>