<div class="container">
	<h1 class="page-heading">Codeslam</h1>
	<div class="row">

		<div class="col s4">
			
		</div>
		<div class="col s4">
			<!-- Promo Content 2 goes here -->
		</div>
		<div class="col s4">
			<!-- Promo Content 3 goes here -->
		</div>

	</div>

</div>
