<nav class="brand-nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Codeslam</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
    </div>
  </nav>
<div class="promo-bg">
	<div class="card hoverable promo-card" style="text-align: center;">
		<div class="row promo">
			<div class="col s4">
				<i class="material-icons">play_arrow</i>
				<p class="promo-caption">Coding anytime</p>
			</div>
			<div class="col s4">
				<i class="material-icons">thumbs_up_down</i>
				<p class="promo-caption">Compete with other players</p>
			</div>
			<div class="col s4">
				<i class="material-icons">grade</i>
				<p class="promo-caption">Show skills and win</p>
			</div>
		</div>
	</div>
</div>