@import url('/stylesheets/bootstrap.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
	background: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
}
div.jumbotron{
	text-align: center;
	background-color: transparent;
}
div .signup{
	text-align: center;
	padding: 50px;
}
div .login{
	text-align: center;
	padding: 50px;
}
div.jumbotron .label{
	padding: 10px;
}
hr{
	border: 0;
	clear:both;
	display:block;
	width: 100%;               
	background-color:#FFFFFF;
	height: 1px;
}
@media screen and (max-width: 680px){
	div .signup{
		text-align: center;
		padding: 10px;
	}
	div .login{
		text-align: center;
		padding: 10px;
	}
}

.intro{
	text-align: center;
}

.form-input{
	padding: 0.5em;
	width: 15em;