body{
	margin-top: 0;
	padding-top: 0;
	background-color: #3F51BF;
}
.brand-nav{
	background-color: #7A1EA1;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #3F51BF;
}
.brand-nav a{
	opacity: 0.8;
}
.promo-bg{
	
	padding-bottom: 2em;
	padding-top: 2em;
}
.promo{
	padding-top: 2em;
}
.promo-card{
	padding: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: #3F51BF; 
	color: #fff;
}
.promo i{
	font-size: 7rem;
	color: #FF4081;
}
.promo-caption{
	font-size: 1.7rem;
}
.after-promo{
	color: #fff;
}

.about-section{
	text-align: center;
}
.about-section h1{
	color: #fff;
}
.dev-names{
	font-size: 50px;
}
.page-footer{
	background-color: #3F51BF !important;
}