@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
*,*:before,*:after{
  box-sizing:border-box;
  margin:0;padding:0;
}

body { padding:1.5em; background:rgba(53, 137, 174, 1); }

label, a { font:300 1em/1.5em 'Lato', sans-serif; color:rgba(53, 137, 174, 1);}
fieldset {
  background:#f1f1f1;
  border:1px solid #ddd;
  border-radius:3px;  
  padding:1.5em 1.5em 2em;
  margin-bottom:-3px;
  a {float:right; display:block; text-decoration:none; margin-left:-100%;}
  img { width:100px; float:left;}
  label{ float:right; display:inline-block; margin-left:-100%; margin-top:1.5em;} 
  label         { margin-right:170px; }
  label + label { margin-right:0px; }
  select { display:block; width:150px; }
}
.wrapper {
  position:relative;
  height:1400px;
  //background:#f1f1f1; 
}

#ace-editorid { 
  font-size:.9em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  border:1px solid #ddd;
  border-radius:3px;

  //background:#f1f1f1; // #f1f1f1; 
}