<div class="about-section ">
	<h1>Who we are?</h1>
	<div class="row">
		<div class="col s12 m6">
			<h2 class="header">Kumar Shubham</h2>
			<div class="card hoverable horizontal">
				<div class="card-image">
					<img src="/images/test.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris
						</p>
					</div>
					<div class="card-action">
						<a href="https://github.com/krshubham"><i class="fa fa-github fa-3x"></i></a>
						<a href="https://linkedin.com/in/krshubham1708"><i class="fa fa-linkedin fa-3x"></i></a>
						<a href="www.krshubham.github.io"><i class="fa fa-user fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<h2 class="header">Aman Saha</h2>
			<div class="card hoverable horizontal">
				<div class="card-image">
					<img src="/images/test.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris
						</p>
					</div>
					<div class="card-action">
						<a href="https://github.com/krshubham"><i class="fa fa-github fa-3x"></i></a>
						<a href="https://linkedin.com/in/krshubham1708"><i class="fa fa-linkedin fa-3x"></i></a>
						<a href="www.krshubham.github.io"><i class="fa fa-user fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>