    
    <style type="text/css" media="screen">
        #editor { 
            position: absolute;
            top: 100px;
            right: 50px;
            bottom: 50px;
            left: 50px;
        }
    </style>
    <div ng-controller="login as code" style="background-color:#000000;">
        <div id="editor" style="width:65%;margin-left:auto;margin-right:auto;">
            function foo(items) {
                var x = "All this is syntax highlighted";
                return x;
            }
        </div> 
    </div>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: false
            });
        </script>

    </div>
    <style type="text/css">
        #main-title{
            font-size: 3rem;
            text-align: center;
            padding: 0;
            margin: 0;
            color: #fff;
        }
    </style>