    
    <style type="text/css" media="screen">
        @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
        
        #editor { 
            /* the styling for the coding window */
            position: relative;
            height: 70vh;
            width: 60vw ;
            margin-left: auto ;
            margin-right: auto;
            margin-top:2vh ;
        }
        
        label, a { font:300 1em/1.5em 'Lato', sans-serif; color:rgba(53, 137, 174, 1);}
        
        a {float:right; display:block; text-decoration:none; margin-left:-100%;}
        
        img { width:100px; float:left;}
        
        label{ 
            float:right; 
            display:inline-block; 
            margin-left:-100%; 
            margin-top:1.5em;
        } 
        
        label { margin-right:170px; }
        
        label + label { margin-right:0px; }
        
        select, .buttons { 
            display:block; 
            width:150px; 
            margin:2vh 1vw ;
            float: left;
        }  


    </style>

    <!-- here goes the main body of the code page -->
    <div ng-controller="codeController as code">
            <div>
                <h1 style="font-family: 'Exo 2', sans-serif;text-align:center;">CREATE | OPTIMIZE | PERFECT</h1>
            </div>
            <div class="container z-depth-2" style="padding-top:1vh;margin:3vh auto;height:100vh;">        
            <!-- <label>Mode:</label> -->   

            <!-- The languages in which codes can be written -->
                <select id="ace-mode" size="1" style="margin-left:5vw;">
                    <option value="C/C++">C/C++</option>
                    <option value="C#">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="HTML">HTML</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="JSON">JSON</option>
                    <option value="MySQL">MySQL</option>
                    <option value="Objective-C">Objective-C</option>
                    <option value="PHP">PHP</option>
                    <option value="Plain Text">Plain Text</option>
                    <option value="Python">Python</option>
                    <option value="SQL">SQL</option>
                </select>

                <!-- <select class="browser-default" style="width:15%;margin:2vh 5vw;float:left">
                    <option value="" disabled selected>Languages</option>
                    <option value="1">C++</option>
                    <option value="2">Python</option>
                    <option value="3">Java</option> -->
                <!-- option for themes -->
                
                </select>
                    <select id="ace-theme" size="1">
                        <option value="Themes" disabled selected="selected">Themes</option>}
                      <optgroup label="Bright">
                        <option value="chrome">chrome</option>
                        <option value="clouds">clouds</option>
                        <option value="crimson_editor">crimson_editor</option>
                        <option value="dawn">dawn</option>
                        <option value="dreamweaver">dreamweaver</option>
                        <option value="eclipse">eclipse</option>
                        <option value="github">github</option>
                        <option value="solarized_light">solarized_light</option>
                        <option value="textmate">textmate</option>
                        <option value="tomorrow">tomorrow</option>
                        <option value="xcode">xcode</option>
                      </optgroup>
                      <optgroup label="Dark">
                        <option value="clouds_midnight">clouds_midnight</option>
                        <option value="cobalt">cobalt</option>
                        <option value="idle_fingers">idle_fingers</option>
                        <option value="kr_theme">kr_theme</option>
                        <option value="merbivore">merbivore</option>
                        <option value="merbivore_soft">merbivore_soft</option>
                        <option value="mono_industrial">mono_industrial</option>
                        <option value="monokai">monokai</option>
                        <option value="pastel_on_dark">pastel_on_dark</option>
                        <option value="solarized_dark">solarized_dark</option>
                        <option value="terminal">terminal</option>
                        <option value="tomorrow_night">tomorrow_night</option>
                        <option value="tomorrow_night_blue">tomorrow_night_blue</option>
                        <option value="tomorrow_night_bright">tomorrow_night_bright</option>
                        <option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
                        <option value="twilight">twilight</option>
                        <option value="vibrant_ink">vibrant_ink</option>
                      </optgroup>
                </select>
                <br>
                <br>

                <div id="editor">
function foo(items) { 
  var x = "All this is syntax highlighted";
  return x;
}

                </div>
                <br>
                <button type="button" class="button" style="margin-left:5vw;">Submit</button> 
            </div>
    </div>

    <script>
        var editor = ace.edit("editor");
        $('#ace-mode').on('change',function(){
          editor.getSession().setMode('ace/mode/' +$(this).val().toLowerCase());
          console.log( $(this).val().toLowerCase());
        });
        $('#ace-theme').on('change',function(){
          editor.setTheme('ace/theme/' +$(this).val().toLowerCase());
        });

      editor.setTheme("ace/theme/monokai");
/*        editor.getSession().setMode("ace/mode/javascript");*/
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false
        });
        var theme='ace/theme/tomorrow';
        var mode='ace/mode/scss';
        var editor= ace.edit('ace-editorid');
            editor.setTheme(theme);
            editor.getSession().setMode(mode);
            // editor.renderer.setShowGutter(false); 

       
    </script>
    <style type="text/css">
        #main-title{
            font-size: 3rem;
            text-align: center;
            padding: 0;
            margin: 0;
            color: #fff;
        }
    </style>