<div ng-controller="createController as create">
    <div class="row">
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Challenges <i class="material-icons small">assignment</i></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Practice <i class="material-icons small">mode_edit</i></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Analytics <i class="material-icons small">assessment</i></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Challenges <i class="material-icons small">assignment</i></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Practice <i class="material-icons small">mode_edit</i></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m4 hoverable">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <h3 style="text-align:center;">Analytics <i class="material-icons small">assessment</i></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card{
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
</style>