<div ng-init="frc.fetchQuestions()" ng-controller="facReviewController as frc">
    <div class="card" style="text-align:center;">
        <h2>Here all the questions you have set will be displayed</h2>
    </div>
    <div class="row" ng-repeat="question in frc.questions">
        <div class="col s12 m12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{question.name}}</span>
                    <div>{{question.question}}</div>
                </div>
                <div class="card-action">
                    <a ng-click="frc.delete(this)" class="{{question._id}}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>